<!DOCTYPE HTML>
<html>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<head><title>自动化测试平台</title></head>
<body>
<ul class="nav navbar-nav navbar-right">
    <li>欢迎您，<a href="#">{{user}}</a></li>
   <br>
   <!--<img src='../static/img/1.png' alt="###">-->
    <a href="product_manage">项目</a>
    <a href="apitest_manage">接口测试</a>
    <a href="apistep_manage">流程接口</a>
    <a href="apis_manage">单一接口</a>
   <br>

 <li>
    <a href="/login/">退出</a>

    </li>
</ul>
</body>
</html>
